<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Primeros pasos Flask</title>
  </head>

  <body>
    <h1>Aprendiendo html con: {{nombre_parametro}}</h1>
    <ul>
      <li>
        Listas Flask en:<a href="{{url_for('hola_mundo')}}"> Mostrar Nombre </a>
      </li>
      <li>Listas Flask</li>
      <li>Listas Flask</li>
      <li>Listas Flask</li>
      <li>Listas Flask</li>
    </ul>
  </body>
</html>
